# maven specific files
/target/
.idea

# eclipse specific files
/.settings/
.classpath
.project

# icy specific files
/plugins/
/workspace/
/miniconda3/
setting.xml

# models directory
/models/
/models2/
/downloads/
/engines/
/deepicy.jar
/bin/
/.DS_Store
/miniconda3-x86_64/
/appose/
/appose_x86_64/
/_appose_x86_64/
/appose_arm64/

# VIM editor
*.sw*

prep.sh
